.header__menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin-top: 5px;
  padding: 0;
}
@media screen and (max-width: 768px) {
  .header__menu {
    flex-direction: column;
  }
}